input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-invalid.ng-touched::after,
textarea.ng-invalid.ng-touched::after {
  content: "Please fill this appropriately";
  color: red;
}

img {
  max-width: 100px;
}
