<div class="row">
  <div class="col-md-12">
    <form #form="ngForm" (ngSubmit)="submitIngredient(form)">
      <div class="col-md-5 form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          #nameInput
          name="name"
          ngModel
          required
        />
      </div>
      <div class="col-md-2 form-group">
        <label for="name">Amount</label>
        <input
          type="number"
          class="form-control"
          id="amount"
          #amountInput
          name="amount"
          ngModel
          required
          [pattern]="'^[1-9]+[0-9]*$'"
        />
      </div>
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-success mr-2"
            type="submit"
            [disabled]="form.invalid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger mr-2"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
            [disabled]="form.invalid"
          >
            Delete
          </button>
          <button class="btn btn-primary mr-2" type="reset" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
